# Project 3

In this project, you will perform a logistic regression on the admissions data we've been working with in projects 1 and 2.

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import statsmodels.api as sm
import pylab as pl
import numpy as np

In [2]:
df_raw = pd.read_csv("../assets/admissions.csv")
df = df_raw.dropna() 
print df.head()

   admit    gre   gpa  prestige
0      0  380.0  3.61       3.0
1      1  660.0  3.67       3.0
2      1  800.0  4.00       1.0
3      1  640.0  3.19       4.0
4      0  520.0  2.93       4.0

## Part 1. Frequency Tables


#### 1. Let's create a frequency table of our variables

In [3]:
# frequency table for prestige and whether or not someone was admitted
df.prestige.value_counts(['admit'])

2.0    0.372796
3.0    0.304786
4.0    0.168766
1.0    0.153652
Name: prestige, dtype: float64

## Part 2. Return of dummy variables

#### 2.1 Create class or dummy variables for prestige

In [4]:
dummy_ranks = pd.get_dummies(df.prestige,prefix='prestige')
dummy_ranks.head()

   prestige_1.0  prestige_2.0  prestige_3.0  prestige_4.0
0             0             0             1             0
1             0             0             1             0
2             1             0             0             0
3             0             0             0             1
4             0             0             0             1

#### 2.2 When modeling our class variables, how many do we need?

Answer: five - two for gpa and gre, three more for prestige 1, 2, and 3.

## Part 3. Hand calculating odds ratios

Develop your intuition about expected outcomes by hand calculating odds ratios.

In [5]:
cols_to_keep = ['admit', 'gre', 'gpa']
handCalc = df[cols_to_keep].join(dummy_ranks.ix[:, 'prestige':])
print handCalc.head()

   admit    gre   gpa  prestige_1.0  prestige_2.0  prestige_3.0  prestige_4.0
0      0  380.0  3.61             0             0             1             0
1      1  660.0  3.67             0             0             1             0
2      1  800.0  4.00             1             0             0             0
3      1  640.0  3.19             0             0             0             1
4      0  520.0  2.93             0             0             0             1

In [6]:
admit = handCalc.admit
prestige = handCalc['prestige_1.0']

In [7]:
#crosstab prestige 1 admission 
# frequency table cutting prestige and whether or not someone was admitted
pd.crosstab(admit,prestige, margins=True)

prestige_1.0    0   1  All
admit
0             243  28  271
1              93  33  126
All           336  61  397

#### 3.1 Use the cross tab above to calculate the odds of being admitted to grad school if you attended a #1 ranked college

In [8]:
(33./28)

1.1785714285714286

#### 3.2 Now calculate the odds of admission if you did not attend a #1 ranked college

In [9]:
(93./243)

0.38271604938271603

#### 3.3 Calculate the odds ratio

In [10]:
(33./28)/(93./243)

3.079493087557604

#### 3.4 Write this finding in a sentenance:

Answer: Students are much more likely to be admitted when they attend a #1 ranked school

#### 3.5 Print the cross tab for prestige_4

In [25]:
prestige_4 = handCalc['prestige_4.0']
pd.crosstab(admit,prestige_4,margins=True)

prestige_4.0    0   1  All
admit
0             216  55  271
1             114  12  126
All           330  67  397

#### 3.6 Calculate the OR

In [26]:
(12./55)/(114./216)

0.4133971291866028

#### 3.7 Write this finding in a sentence

Answer: Students who attended a #1 ranked school have a much better chance of being admitted compared to those who don't attend a #1 school.

## Part 4. Analysis

In [27]:
# create a clean data frame for the regression
cols_to_keep = ['admit', 'gre', 'gpa']
data = df[cols_to_keep].join(dummy_ranks.ix[:, 'prestige_2':])
print data.head()

   admit    gre   gpa  prestige_2.0  prestige_3.0  prestige_4.0
0      0  380.0  3.61             0             1             0
1      1  660.0  3.67             0             1             0
2      1  800.0  4.00             0             0             0
3      1  640.0  3.19             0             0             1
4      0  520.0  2.93             0             0             1

We're going to add a constant term for our Logistic Regression. The statsmodels function we're going to be using requires that intercepts/constants are specified explicitly.

In [28]:
# manually add the intercept
data['intercept'] = 1.0

#### 4.1 Set the covariates to a variable called train_cols

In [29]:
train_cols = data.columns[1:]

#### 4.2 Fit the model

In [30]:
logit = sm.Logit(data['admit'], data[train_cols])
result = logit.fit()

Optimization terminated successfully.
         Current function value: 0.573854
         Iterations 6

#### 4.3 Print the summary results

In [31]:
print result.summary()

                           Logit Regression Results
==============================================================================
Dep. Variable:                  admit   No. Observations:                  397
Model:                          Logit   Df Residuals:                      391
Method:                           MLE   Df Model:                            5
Date:                Tue, 28 Feb 2017   Pseudo R-squ.:                 0.08166
Time:                        20:00:53   Log-Likelihood:                -227.82
converged:                       True   LL-Null:                       -248.08
                                        LLR p-value:                 1.176e-07
================================================================================
                   coef    std err          z      P>|z|      [95.0% Conf. Int.]
--------------------------------------------------------------------------------
gre              0.0022      0.001      2.028      0.043      7.44e-05     0.004
gpa              0.7793      0.333      2.344      0.019         0.128     1.431
prestige_2.0    -0.6801      0.317     -2.146      0.032        -1.301    -0.059
prestige_3.0    -1.3387      0.345     -3.882      0.000        -2.015    -0.663
prestige_4.0    -1.5534      0.417     -3.721      0.000        -2.372    -0.735
intercept       -3.8769      1.142     -3.393      0.001        -6.116    -1.638
================================================================================

#### 4.4 Calculate the odds ratios of the coeffiencents and their 95% CI intervals

hint 1: np.exp(X)

hint 2: conf['OR'] = params
        
           conf.columns = ['2.5%', '97.5%', 'OR']

In [32]:
print np.exp(result.params)

gre             1.002221
gpa             2.180027
prestige_2.0    0.506548
prestige_3.0    0.262192
prestige_4.0    0.211525
intercept       0.020716
dtype: float64

In [33]:
params = result.params
conf = result.conf_int()
conf['OR']=params
conf.columns = ['2.5%', '97.5%', 'OR']
print np.exp(conf)

                  2.5%     97.5%        OR
gre           1.000074  1.004372  1.002221
gpa           1.136120  4.183113  2.180027
prestige_2.0  0.272168  0.942767  0.506548
prestige_3.0  0.133377  0.515419  0.262192
prestige_4.0  0.093329  0.479411  0.211525
intercept     0.002207  0.194440  0.020716

#### 4.5 Interpret the OR of Prestige_2

Answer: 0.5 OR, not a great predictor.

#### 4.6 Interpret the OR of GPA

Answer: 2.2 OR, great predictor.

## Part 5: Predicted probablities

As a way of evaluating our classifier, we're going to recreate the dataset with every logical combination of input values. This will allow us to see how the predicted probability of admission increases/decreases across different variables. First we're going to generate the combinations using a helper function called cartesian (above).

We're going to use np.linspace to create a range of values for "gre" and "gpa". This creates a range of linearly spaced values from a specified min and maximum value--in our case just the min/max observed values.

In [75]:
def cartesian(arrays, out=None):
    """
    Generate a cartesian product of input arrays.
    Parameters
    ----------
    arrays : list of array-like
        1-D arrays to form the cartesian product of.
    out : ndarray
        Array to place the cartesian product in.
    Returns
    -------
    out : ndarray
        2-D array of shape (M, len(arrays)) containing cartesian products
        formed of input arrays.
    Examples
    --------
    >>> cartesian(([1, 2, 3], [4, 5], [6, 7]))
    array([[1, 4, 6],
           [1, 4, 7],
           [1, 5, 6],
           [1, 5, 7],
           [2, 4, 6],
           [2, 4, 7],
           [2, 5, 6],
           [2, 5, 7],
           [3, 4, 6],
           [3, 4, 7],
           [3, 5, 6],
           [3, 5, 7]])
    """

    arrays = [np.asarray(x) for x in arrays]
    dtype = arrays[0].dtype

    n = np.prod([x.size for x in arrays])
    if out is None:
        out = np.zeros([n, len(arrays)], dtype=dtype)

    m = n / arrays[0].size
    out[:,0] = np.repeat(arrays[0], m)
    if arrays[1:]:
        cartesian(arrays[1:], out=out[0:m,1:])
        for j in xrange(1, arrays[0].size):
            out[j*m:(j+1)*m,1:] = out[0:m,1:]
    return out

In [76]:
# instead of generating all possible values of GRE and GPA, we're going
# to use an evenly spaced range of 10 values from the min to the max 
gres = np.linspace(data['gre'].min(), data['gre'].max(), 10)
print gres
# array([ 220.        ,  284.44444444,  348.88888889,  413.33333333,
#         477.77777778,  542.22222222,  606.66666667,  671.11111111,
#         735.55555556,  800.        ])
gpas = np.linspace(data['gpa'].min(), data['gpa'].max(), 10)
print gpas
# array([ 2.26      ,  2.45333333,  2.64666667,  2.84      ,  3.03333333,
#         3.22666667,  3.42      ,  3.61333333,  3.80666667,  4.        ])


# enumerate all possibilities
combos = pd.DataFrame(cartesian([gres, gpas, [1, 2, 3, 4], [1.]]))

[ 220.          284.44444444  348.88888889  413.33333333  477.77777778
  542.22222222  606.66666667  671.11111111  735.55555556  800.        ]
[ 2.26        2.45333333  2.64666667  2.84        3.03333333  3.22666667
  3.42        3.61333333  3.80666667  4.        ]

#### 5.1 Recreate the dummy variables

In [77]:
# recreate the dummy variables
combos.columns = ['gre', 'gpa', 'prestige', 'intercept']
dummy_ranks = pd.get_dummies(combos['prestige'], prefix='prestige')
dummy_ranks.columns = ['prestige_1.0', 'prestige_2.0', 'prestige_3.0', 'prestige_4.0']

In [78]:
cols_to_keep = ['gre', 'gpa', 'prestige', 'intercept']
combos = combos[cols_to_keep].join(dummy_ranks.ix[:, 'prestige_2.0':])

In [79]:
combos.head()

,gre,gpa,prestige,intercept,prestige_2.0,prestige_3.0,prestige_4.0
0,220.0,2.260000,1.0,1.0,0,0,0
1,220.0,2.260000,2.0,1.0,1,0,0
2,220.0,2.260000,3.0,1.0,0,1,0
3,220.0,2.260000,4.0,1.0,0,0,1
4,220.0,2.453333,1.0,1.0,0,0,0

#### 5.2 Make predictions on the enumerated dataset

In [80]:
combos['predict'] = result.predict(combos.iloc[:,1:])

In [81]:
combos

,gre,gpa,prestige,intercept,prestige_2.0,prestige_3.0,prestige_4.0,predict
0,220.0,2.260000,1.0,1.0,0,0,0,0.526030
1,220.0,2.260000,2.0,1.0,1,0,0,0.388143
2,220.0,2.260000,3.0,1.0,0,1,0,0.527342
3,220.0,2.260000,4.0,1.0,0,0,1,0.192379
4,220.0,2.453333,1.0,1.0,0,0,0,0.526137
5,220.0,2.453333,2.0,1.0,1,0,0,0.388245
6,220.0,2.453333,3.0,1.0,0,1,0,0.527449
7,220.0,2.453333,4.0,1.0,0,0,1,0.192445
8,220.0,2.646667,1.0,1.0,0,0,0,0.526244
9,220.0,2.646667,2.0,1.0,1,0,0,0.388346
10,220.0,2.646667,3.0,1.0,0,1,0,0.527556
11,220.0,2.646667,4.0,1.0,0,0,1,0.192512
12,220.0,2.840000,1.0,1.0,0,0,0,0.526351
13,220.0,2.840000,2.0,1.0,1,0,0,0.388448
14,220.0,2.840000,3.0,1.0,0,1,0,0.527663
15,220.0,2.840000,4.0,1.0,0,0,1,0.192579
16,220.0,3.033333,1.0,1.0,0,0,0,0.526458
17,220.0,3.033333,2.0,1.0,1,0,0,0.388550
18,220.0,3.033333,3.0,1.0,0,1,0,0.527770
19,220.0,3.033333,4.0,1.0,0,0,1,0.192645
20,220.0,3.226667,1.0,1.0,0,0,0,0.526565
21,220.0,3.226667,2.0,1.0,1,0,0,0.388652
22,220.0,3.226667,3.0,1.0,0,1,0,0.527877
23,220.0,3.226667,4.0,1.0,0,0,1,0.192712
24,220.0,3.420000,1.0,1.0,0,0,0,0.526672
25,220.0,3.420000,2.0,1.0,1,0,0,0.388754
26,220.0,3.420000,3.0,1.0,0,1,0,0.527984
27,220.0,3.420000,4.0,1.0,0,0,1,0.192779
28,220.0,3.613333,1.0,1.0,0,0,0,0.526778
29,220.0,3.613333,2.0,1.0,1,0,0,0.388856
...,...,...,...,...,...,...,...,...
370,800.0,2.646667,3.0,1.0,0,1,0,0.527556
371,800.0,2.646667,4.0,1.0,0,0,1,0.192512
372,800.0,2.840000,1.0,1.0,0,0,0,0.526351
373,800.0,2.840000,2.0,1.0,1,0,0,0.388448
374,800.0,2.840000,3.0,1.0,0,1,0,0.527663
375,800.0,2.840000,4.0,1.0,0,0,1,0.192579
376,800.0,3.033333,1.0,1.0,0,0,0,0.526458
377,800.0,3.033333,2.0,1.0,1,0,0,0.388550
378,800.0,3.033333,3.0,1.0,0,1,0,0.527770
379,800.0,3.033333,4.0,1.0,0,0,1,0.192645
380,800.0,3.226667,1.0,1.0,0,0,0,0.526565
381,800.0,3.226667,2.0,1.0,1,0,0,0.388652
382,800.0,3.226667,3.0,1.0,0,1,0,0.527877
383,800.0,3.226667,4.0,1.0,0,0,1,0.192712
384,800.0,3.420000,1.0,1.0,0,0,0,0.526672
385,800.0,3.420000,2.0,1.0,1,0,0,0.388754
386,800.0,3.420000,3.0,1.0,0,1,0,0.527984
387,800.0,3.420000,4.0,1.0,0,0,1,0.192779
388,800.0,3.613333,1.0,1.0,0,0,0,0.526778
389,800.0,3.613333,2.0,1.0,1,0,0,0.388856
390,800.0,3.613333,3.0,1.0,0,1,0,0.528090
391,800.0,3.613333,4.0,1.0,0,0,1,0.192845
392,800.0,3.806667,1.0,1.0,0,0,0,0.526885
393,800.0,3.806667,2.0,1.0,1,0,0,0.388958
394,800.0,3.806667,3.0,1.0,0,1,0,0.528197
395,800.0,3.806667,4.0,1.0,0,0,1,0.192912
396,800.0,4.000000,1.0,1.0,0,0,0,0.526992
397,800.0,4.000000,2.0,1.0,1,0,0,0.389060
398,800.0,4.000000,3.0,1.0,0,1,0,0.528304
399,800.0,4.000000,4.0,1.0,0,0,1,0.192979

#### 5.3 Interpret findings for the last 4 observations

Answer: Prestige 1 and 3 had the highest probability with prestige four having the lowest.

## Bonus

Plot the probability of being admitted into graduate school, stratified by GPA and GRE score.